.form {
  display: flex;
}

.input {
  box-sizing: border-box;
  background-color: #fff;
  color: black;
  border: none;
  width: 150px;
}

.input:focus,
.input:focus-visible {
  outline: 0;
}

.button {
  border: none;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.miniContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #000;
}

.icon {
  width: 20px;
  height: 20px;
}
