.container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.text {
  color: #fff;
}

.button {
  width: auto;
  height: 30px;
  box-sizing: border-box;
  border-radius: 16%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  color: #2a4e98;
}

.icon {
  width: 30px;
  height: 40px;
}
